{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" style="background-color: #012f71;" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="{{ url_for('index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Equipment Monitoring
                </a>
                <a class="nav-link" href="{{ url_for('EquipStats') }}" style="color:#f6a429;">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Equipment Statistics
                </a>
                <a class="nav-link" href="{{ url_for('MaintenanceSchedule') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Maintenance Schedule
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Gnosis 2.0
        </div>
    </nav>
</div>

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Equipment Statistics</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Equipment Statistics</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                 <i class="fa-solid fa-car-battery"></i>                                 LRD22630
            </div>
            <div class="card-body">
                <div style="float: left">
                    <img src="https://loremflickr.com/320/240" />
                </div>
                   <strong> Maintenance Category: </strong> P2 <br>
                   <strong> Remaining Useful Time (RUL): </strong> 27 days<br>
                   <strong> Scheduled For Maintenance: </strong> 22 July 2022<br>
                   <strong> Scheduled For Maintenance: </strong> 22 July 2022<br>
                   <strong> Maintenance Team: </strong> Team 1 <br>
            </div>
        </div>
   
        <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-chart-line"></i>                                        Maintenance Prediction
                </div>
                <div class="card-body">
                    <strong>Average Failure Period:</strong> 29.0 minutes <br>
                    <strong>Average Maintenance Period:</strong> 21.5 minutes <br>
                    <strong>Next Expected Failure Date:</strong> 19/10/2022 <br> 
                </div>
            </div>
        </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Maintenance Graph
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body%}
