{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Equipment Statistics</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Equipment Statistics</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                 <i class="fa-solid fa-car-battery"></i>                                 
                LRD22630
            </div>
            <div class="card-body">
                <div style="float: right">
                    <img src="https://loremflickr.com/320/240" />
                </div>
                    Maintenance Category: P2 <br>
                    Remaining Useful Time (RUL): 27 days<br>
                    Scheduled For Maintenance: 22 July 2022<br>
                    Scheduled For Maintenance: 22 July 2022<br>
                    Maintenance Team: Team 1 <br>
            </div>
        </div>
   
        <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-chart-line"></i>                                        
                    Maintenance Prediction
                </div>
                <div class="card-body">
                    Average Failure Period: 29.0 minutes <br>
                    Average Maintenance Period: 21.5 minutes <br>
                    Next Expected Failure Date: 19/10/2022 <br> 
                </div>
            </div>
        </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Maintenance Graph
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body%}
