{% extends 'base.html' %}

{% block head %}
<head>
    <script type='text/javascript' src='jquery.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            });
            calendar.render();
        });
        </script>
</head>
{% endblock head %}

{% block body %}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" style="background-color: #012f71;" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="{{ url_for('index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Equipment Monitoring
                </a>
                <a class="nav-link" href="{{ url_for('EquipStats') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Equipment Statistics
                </a>
                <a class="nav-link" href="{{ url_for('MaintenanceSchedule') }}" style="color:#f6a429;">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Maintenance Schedule
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Gnosis 2.0
        </div>
    </nav>
</div>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Maintenance Schedule</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Maintenance Schedule</li>
        </ol>

        <div class="container p-3">
            <div id='calendar'></div>
        </div>
    </div>
</main>
{% endblock body%}
